In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
from pathlib import Path

In [4]:
pyBank_df = pd.read_csv("Resources/budget_data.csv")
pyBank_df.head()

     Date  Profit/Losses
0  Jan-10        1088983
1  Feb-10        -354534
2  Mar-10         276622
3  Apr-10        -728133
4  May-10         852993

In [68]:

# get the number of rows (months) in the DataFrame using the shape function and extract the first element (number of rows)
num_total_months = pyBank_df.shape[0]

# print the string "Total Months: " followed by the value of num_total_months
print("Total Months: ", num_total_months)

# Write the results to a text file
with open("output.txt", "w") as output_file:
    output_file.write("Financial Analysis\n")
    output_file.write("------------------\n")
    output_file.write(f"Total Months: {num_total_months}\n")

Total Months:  86

In [8]:
pyBank_df.describe()

       Profit/Losses
count   8.600000e+01
mean    2.623744e+05
std     6.244057e+05
min    -1.194133e+06
25%    -1.944645e+05
50%     4.528330e+05
75%     7.494155e+05
max     1.141840e+06

In [69]:

#calculate the sum of the 'Profit/Losses' column using the sum function 
Total = pyBank_df['Profit/Losses'].sum()
print("Total: $",Total)
with open("output.txt", "w") as output_file:
    output_file.write("Financial Analysis\n")
    output_file.write("------------------\n")
    output_file.write(f"Total Months: {num_total_months}\n")
    output_file.write(f"Total: ${Total}\n")

Total: $ 22564198

In [70]:

# create a new column that calculate the difference between the current and previous month's Profit/Losses
pyBank_df['Monthly Change'] = pyBank_df['Profit/Losses'].diff()

#calculate the average change in Profit/Losses from month to month using the mean() function on the 'Monthly Change' column
avg_change = pyBank_df['Monthly Change'].mean()

print(f"Average Change: ${avg_change:.2f}")

with open("output.txt", "w") as output_file:
    output_file.write("Financial Analysis\n")
    output_file.write("------------------\n")
    output_file.write(f"Total Months: {num_total_months}\n")
    output_file.write(f"Total: ${Total}\n")
    output_file.write(f"Average Change: ${avg_change:.2f}\n")

Average Change: $-8311.11

In [71]:
import csv

# Open and read the CSV file
with open('Resources/budget_data.csv') as csvfile:
    csvreader = csv.reader(csvfile, delimiter=',')
    next(csvreader)  # skip header row

    # Initialize variables
    max_increase = 0
    prev_profit = 0
    max_increase_date = ""

    # Loop through each row in the CSV file
    for row in csvreader:
        date = row[0]
        profit = int(row[1])

        # Calculate the change in profit
        change = profit - prev_profit

        # Check if the change in profit is greater than the current max increase
        if change > max_increase:
            max_increase = change
            max_increase_date = date

        # Update the previous profit for the next iteration
        prev_profit = profit

    # Print the result
    print(f"Greatest Increase in Profits: ${max_increase_date}  (${max_increase})")
    
with open("output.txt", "w") as output_file:
    output_file.write("Financial Analysis\n")
    output_file.write("------------------\n")
    output_file.write(f"Total Months: {num_total_months}\n")
    output_file.write(f"Total: ${Total}\n")
    output_file.write(f"Average Change: ${avg_change:.2f}\n")
    output_file.write(f"Greatest Increase in Profits: {max_increase_date} (${max_increase})\n")

Greatest Increase in Profits: $Aug-16  ($1862002)

In [65]:

pyBank_df = pd.read_csv("Resources/budget_data.csv")

# Calculate the change in profits month over month
pyBank_df['Profit Change'] = pyBank_df['Profit/Losses'].diff()

# Find the index of the row with the greatest decrease in profits
greatest_decrease_index = pyBank_df['Profit Change'].idxmin()

# Get the date and amount of the greatest decrease in profits
greatest_decrease_date = pyBank_df.iloc[greatest_decrease_index]['Date']
greatest_decrease_amount = pyBank_df.iloc[greatest_decrease_index]['Profit Change']

# Print the result
print(f'Greatest Decrease in Profits: {greatest_decrease_date}  (${greatest_decrease_amount:.0f})')

with open("output.txt", "w") as output_file:
    output_file.write("Financial Analysis\n")
    output_file.write("------------------\n")
    output_file.write(f"Total Months: {num_total_months}\n")
    output_file.write(f"Total: ${Total}\n")
    output_file.write(f"Average Change: ${avg_change:.2f}\n")
    output_file.write(f"Greatest Increase in Profits: {max_increase_date} (${max_increase})\n")
    output_file.write(f'Greatest Decrease in Profits: {greatest_decrease_date} (${greatest_decrease_amount:.0f})')

Greatest Decrease in Profits: Feb-14  ($-1825558)